# Ignore data folder
data/

# Ignore virtual environment
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter configuration and runtime files
.jupyter/
.local/share/jupyter/

# Ignore GSW 2025 Dubai folder
GSW 2025 Dubai/
img/
metrics/
papers/